* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout:  none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:  none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select:  none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

div, h1, h2, h3, h4, h5, h6, h7, p, em, strong, i, b {
    font-size: inherit;
    font-family: inherit;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
