* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */

}
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */

  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */

  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */

  /*background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );*/

  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 1em;
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
h7,
p,
em,
strong,
i,
b {
  font-size: inherit;
  font-family: inherit;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background: #160c0a;
}
.app {
  display: block;
  background: #160c0a url(../img/logo.png) no-repeat center 30px;
  text-align: center;
  height: 100%;
  min-height: 420px;
}
.app div {
  position: absolute;
  width: 100%;
  bottom: 30px;
  color: #fff;
  text-shadow: 0;
}
.app div a {
  color: #FFF;
}
@keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}
.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}
.hide {
  display: none;
}
#debug {
  display: none;
}
#debug:after {
  clear: both;
  content: ' ';
  visibility: hidden;
  height: 0;
  font-size: 0;
  display: block;
}
#content {
  padding: 0;
}
.rec-list {
  width: 100%;
}
.rec-list:after {
  clear: both;
  content: ' ';
  visibility: hidden;
  height: 0;
  font-size: 0;
  display: block;
}
.rec-list li {
  float: left;
  width: 50%;
  background-color: #e5e5e5;
}
.rec-list li a {
  position: relative;
  display: block;
  border: 1px solid #FFF;
  height: 4em;
  padding: 0.1em;
  color: #000;
  text-shadow: 0 0 0;
  text-decoration: none;
}
.rec-list li a h3 {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #000;
}
.rec-list li a span {
  font-size: 0.9em;
  display: none;
  color: #666;
}
.rec-list li a span.level,
.rec-list li a span.tel,
.rec-list li a span.distance,
.rec-list li a span.coupon {
  display: inline;
}
.rec-list li a span.distance {
  color: #0099cc;
  position: absolute;
  bottom: .4em;
  right: .4em;
}
.rec-list li.scene {
  background-color: #4fdbc2;
}
.rec-list li.hotel {
  background-color: #ffbded;
}
.rec-list li.food {
  background-color: #ffad26;
}
.rec-list li.enjoy {
  background-color: #38d7ff;
}
.rec-list li.market {
  background-color: #c1f797;
}
.rec-list li.shopping {
  background-color: #ac4e83;
}
.rec-list li.life {
  background-color: #7dd2d1;
}
.rec-list li.no-data-block,
.rec-list li.data-end-block {
  background: none;
  width: 100%;
  text-align: center;
  float: none;
  color: #999;
  font-size: 1.5em;
  line-height: 6em;
}
.rec-list li.data-end-block {
  height: 1.5em;
  line-height: 1;
}
#left-panel.ui-panel {
  width: 8em;
}
#left-panel.ui-panel-closed {
  width: 0;
}
.ui-panel-position-left.ui-panel-display-reveal {
  left: 0;
}
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-left.ui-panel-dismiss-open {
  left: 8em;
  right: -8em;
}
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
  left: 0;
  right: 0;
  -webkit-transform: translate3d(8em, 0, 0);
  -moz-transform: translate3d(8em, 0, 0);
  transform: translate3d(8em, 0, 0);
}
/* Combined listview collapsible menu. */
/* Unset negative margin bottom on the listviews. */
#left-panel .ui-panel-inner > .ui-listview {
  margin-bottom: 0;
}
/* Unset top and bottom margin on collapsible set. */
#left-panel .ui-collapsible-set {
  margin: 0;
}
/* The first collapsible contains the collapsible set. Make it fit exactly in the collapsible content. */
#left-panel .ui-panel-inner > .ui-collapsible > .ui-collapsible-content {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
}
/* Remove border top if a collapsible comes after a listview. */
#left-panel .ui-panel-inner > .ui-collapsible > .ui-collapsible-heading .ui-btn,
#left-panel .ui-collapsible.ui-first-child .ui-collapsible-heading .ui-btn {
  border-top: none;
}
/* Give the first collapsible heading the same padding, i.e. same height, as the list items. */
#left-panel .ui-collapsible-heading .ui-btn-inner {
  padding: .7em 40px .7em 15px;
}
/* Give the other collapsible headings the same padding and font-size as the list divider. */
#left-panel .ui-collapsible-set .ui-collapsible-heading .ui-btn-inner {
  padding: .5em 40px .5em 15px;
  font-size: 14px;
}
/* Styling of the close button in both panels. */
.ui-panel-inner > .ui-listview .ui-first-child {
  background: #eee;
}
/* Reveal menu shadow on top of the list items */
.ui-panel-display-reveal {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ui-panel-content-wrap-position-left {
  -webkit-box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.15);
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.15);
}
#detail .ui-footer p {
  padding: 0.2em 1em;
  text-align: right;
}
